// ./scss/framework/modules/_grilles.scss
// MODULE DES GRILLES

.grille {
  display: grid;
  grid-template-columns: repeat($grilleNombreColonnes, 1fr);
  grid-gap: $grilleGoutiereHorizontale $grilleGoutiereVerticale;
  margin: 0;
  padding: 0;
  list-style: none;
  img {
    width: 100%;
  }
}
/* MOBILE FIRST :
   Tous les enfants directs de .grille prennent
   par défaut les 12 colonnes
*/
.grille > * {
  grid-column: span $grilleNombreColonnes;
}

  @each $taille, $dimension in $grilleBreakPoints {
    @media screen and (min-width: #{$dimension}) {
      @for $i from 1 through $grilleNombreColonnes {
        .col-#{$taille}#{$i} {
          grid-column: span #{$i};
        }
        .row-#{$taille}#{$i} {
          grid-column: span #{$i};
        }
      }
    }
  }

//Toutes les étiquettes c1 ... c12
@for $i from 1 through $grilleNombreColonnes {
  .c#{$i} {
    grid-column: span #{$i};
  }
}

// Toutes les étiquettes r1 ... r12
@for $i from 1 through $grilleNombreColonnes {
  .r#{$i} {
    grid-row: span #{$i};
  }
}

.grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  transform: rotate(-20deg);
  background: rgba(0,0,0,.5);  // pour la transparance
}
