<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SweetCake - Home</title>
  <link rel="stylesheet" href="css/framework/framework.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header class="header_principal shadow">
    <div class="boite_dimension__fixe_l boite_dimension__fixe_m">
      <div class="grille">
        <!--MENU MOBILE-->
        <div class="d_xld__none">
          <nav class=" d_xld__none menuToggle">
            <!--HAMBURGER-->
            <input type="checkbox"/>

            <span></span>
            <span></span>
            <span></span>

            <!--NAVIGATION MOBILE-->
            <ul class="mobileMenu">
              <li><a href="#">Accueil</a></li>
              <li><a href="#a_propos">A propos</a></li>
              <li><a href="patisseries.html">Mes patisseries</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav>
        </div>

        <figure class="col-l3" id="logo_principal">
          <a href="index.html">
            <img src="medias/logo.png" alt="Logo SweetCake" title="Logo Sweet Cake, créatrice de patisseries de qualité pour tout événement">
          </a>
          <figcaption class="utilitaire_visibilite__none">Logo de SweetCake</figcaption>
        </figure>

        <!--NAVIGATION-->
        <nav class="d_sd__none d_md__none d_ld__none col-l9">
          <ul class="menu_type__horizontal">
            <li class="actif"><a href="#">Accueil</a></li>
            <li><a href="#a_propos">A propos</a></li>
            <li><a href="patisseries.html">Mes patisseries</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main>
    <!--HEADER DU CONTENU PRINCIPAL-->
    <header id="bg_content_header">
      <div class="boite_dimension__fixe_l boite_dimension__fixe_m" id="contenu_header">
        <div class="grille" id="bg_content">
          <div class="col-l7">
            <h1>Le plaisir de s'offrir un petit luxe au quotidien</h1>
            <a class="btn shadow_btn" href="#">Me contacter</a>
            <a id="call_to_action2" href="#">A propos de moi</a>
          </div>
        </div>
      </div>
    </header>

    <!-- Section à propos -->
    <section class="boite_dimension__fixe_l boite_dimension__fixe_m" id="a_propos">
        <aside>
          <h2>A propos de moi</h2>
          <p>Hajar Hassani, autodidact passionnée de la patisserie, j'ai toujours
            voulu partager ce bonheur et le retrouver dans les yeux de ceux qui
            dégustent mes créations. Perfectionniste et toujours à la recherche
            d'idées originales et gourmandes afin de créer l'harmonie gustative
            et visuelle, je réalise pour vous des patisseries sur-mesure.</p>
          <p>Pour n'importe quel événement (anniversaire, mariage, naissance,
            fêtes religieuse, fêtes de familles, dîner entre amis) ou seulement
            pour répondre à vos envies de sucreries !</p>
            <figure id="img_propos">
              <img src="medias/photo_moi.png" alt="Photo de moi qui me représente">
              <figcaption class="utilitaire_visibilite__none">A propos de moi</figcaption>
            </figure>
        </aside>
        <aside id="concept">
          <h3>Concept</h3>
          <ul class="grille">
            <li class="col-l4">
              <h4>1</h4>
              <p>Vous me faites part de vos idées et je crée cette patisserie que vous désirez</p>
            </li>
            <li class="col-l4">
              <h4>2</h4>
              <p>Je passe en cuisine et prépare votre patisserie avec des produits locaux et de saison</p>
            </li>
            <li class="col-l4">
              <h4>3</h4>
              <p>Je vous livre en voiture et vous partagez un moment gourmand avec vos proches, collègues, ...</p>
            </li>
          </ul>
        </aside>
    </section>

    <!-- Section les avis -->
    <section id="avis" class="parallax" style="background-image: url('medias/bg_remerciement.png');">
      <div class="boite_dimension__fixe_l boite_dimension__fixe_m">
        <div class="grille">
          <article class="col-l4">
            <p>Donec mollis hendrerit risus. Curabitur vestibulum aliquam leo.
              Pellentesque habitant morbi tristique senectus et netus et malesuada
              fames ac turpis egestas.
            </p>
            <h3>Josephine Lee</h3>
          </article>
          <article class="col-l4">
            <p>Donec mollis hendrerit risus. Curabitur vestibulum aliquam leo.
              Pellentesque habitant morbi tristique senectus et netus et malesuada
              fames ac turpis egestas.
            </p>
            <h3>Josephine Lee</h3>
          </article>
          <article class="col-l4">
            <p>Donec mollis hendrerit risus. Curabitur vestibulum aliquam leo.
              Pellentesque habitant morbi tristique senectus et netus et malesuada
              fames ac turpis egestas.
            </p>
            <h3>Josephine Lee</h3>
          </article>
        </div>
      </div>
    </section>

    <!-- Section Dernière patisserie -->
    <section class="boite_dimension__fixe_l boite_dimension__fixe_m" id="last_patisserie">
      <h3>Ma dernière patisserie</h3>
      <div class="grille">
        <figure class="col-l6">
          <img src="medias/last_photo.png" alt="Gateau de mariage">
          <figcaption class="utilitaire_visibilite__none">Un joli drip cake à deux étage à base de gananche chocolat balnc</figcaption>
        </figure>
        <aside class="col-l6">
          <h4>Gateau pour un mariage</h4>
          <p>Un joli drip cake à deux étage à base de gananche chocolat balnc</p>
          <a class="btn" href="#">Voir plus</a>
        </aside>
      </div>
    </section>

    <!-- Section Contactez-nous -->
    <section id="contact" class="parallax" style="background-image: url('medias/bg_contact_opacite.png');">
      <div class="boite_dimension__fixe_l boite_dimension__fixe_m">
        <h2>Contactez-nous</h2>
        <p>Besoin d'un gateau pour un anniversaire ? Pour un mariage ou une baby shower ?
          Ou tout simplement pour  son propre plaisir ? Je suis la pour satisfaire votre demande !
          N'hésitez pas à me contactez pour toute commande ou pour plus d'informations.</p>
        <a class="btn" href="#">Contactez-nous</a>
      </div>
    </section>

    <footer class="footer">
      <section class="boite_dimension__fixe_l boite_dimension__fixe_m">
        <figure class="col-l3 logo_footer">
          <a href="index.html">
            <img src="medias/logo.png" alt="Logo SweetCake" title="Logo Sweet Cake, créatrice de patisseries de qualité pour tout événement">
          </a>
          <figcaption class="utilitaire_visibilite__none">Logo de SweetCake</figcaption>
        </figure>
        <div class="grille">
          <div class="col-l6">
            <img src="medias/icon_facebook.png" alt="Réseaux social Facebook" class="fb">
          </div>
          <div class="col-l6">
            <img src="medias/icon_instagram.png" alt="Réseaux social Instagram" class="insta">
          </div>
        </div>
        <address>
          <ul>
						<li>
              <a href="mailto:info@sweetcake.com">info@sweetcake.com</a>
            </li>
            <li>4020 Liège, Belgique</li>
					</ul>
        </address>
      </section>
      <section class="telephone_footer">
        <a href="tel:+32 466 63 78 34">Appelez-nous +32 466 63 78 34</a>
      </section>
    </footer>
  </main>
</body>
</html>
